{% extends "layout.html" %}
{% block content%}
      <div class="content-section">
        <p class="article-content">This project was built by Rohan Sarmandal while following along Corey Schafers tutorials, with some extra functionality from my side.
            This website is a full stack blogging website. Users can create an account, write posts, edit posts and more.
            Users can make changes to their account (with email authentication) and also view other peoples accounts.
            Future goals for the website include the ability to add pictures with posts and a like/dislike feature.

            Thank you for visiting.
        </p>
      </div>
{% endblock content %}